# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg
*.whl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.db

# OS-specific
.DS_Store
Thumbs.db